{% extends 'base.html' %}
{% block content %}
        <img width="700px" height="400px" src="https://th.bing.com/th/id/OIP.1aOi3KlJA7Gq2dE99uSRDAHaDt?pid=ImgDet&rs=1" class="center">
<p class="content_home">Inventory management is a broader term pertaining to the regulation of all inventory aspects, 
from what is already present in the warehouse to how the inventory arrived and where the product's final destination will be.
This management involves tracking field inventory throughout the supply chain,
from sourcing to order fulfilment.</p>
<footer>
    
</footer>
{% endblock %}